h5py==3.15.1
python-multipart
reportlab
fastapi
uvicorn

# CPU-only PyTorch (fast and small)
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.1.0+cpu
torchvision==0.16.0+cpu

pillow
scikit-learn==1.7.2
pandas
numpy

